<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.app.common.persistence.dao.StoreCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.yixiang.app.common.persistence.model.StoreComment">
        <id column="comment_id" property="commentId" />
        <result column="goods_id" property="goodsId" />
        <result column="email" property="email" />
        <result column="username" property="username" />
        <result column="content" property="content" />
        <result column="add_time" property="addTime" />
        <result column="ip_address" property="ipAddress" />
        <result column="is_show" property="isShow" />
        <result column="parent_id" property="parentId" />
        <result column="user_id" property="userId" />
        <result column="img" property="img" />
        <result column="order_id" property="orderId" />
        <result column="deliver_rank" property="deliverRank" />
        <result column="goods_rank" property="goodsRank" />
        <result column="service_rank" property="serviceRank" />
        <result column="zan_num" property="zanNum" />
        <result column="zan_userid" property="zanUserid" />
        <result column="is_anonymous" property="isAnonymous" />
        <result column="rec_id" property="recId" />
    </resultMap>

</mapper>
