<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.app.common.persistence.dao.StoreCouponListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.yixiang.app.common.persistence.model.StoreCouponList">
        <id column="id" property="id" />
        <result column="cid" property="cid" />
        <result column="type" property="type" />
        <result column="uid" property="uid" />
        <result column="order_id" property="orderId" />
        <result column="get_order_id" property="getOrderId" />
        <result column="use_time" property="useTime" />
        <result column="code" property="code" />
        <result column="send_time" property="sendTime" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
