<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.app.common.persistence.dao.StoreMemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.yixiang.app.common.persistence.model.StoreMember">
        <id column="id" property="id" />
        <result column="vip_no" property="vipNo" />
        <result column="openid" property="openid" />
        <result column="phone" property="phone" />
        <result column="password" property="password" />
        <result column="nickname" property="nickname" />
        <result column="headimg" property="headimg" />
        <result column="sex" property="sex" />
        <result column="level" property="level" />
        <result column="total_amount" property="totalAmount" />
        <result column="user_money" property="userMoney" />
        <result column="distribut_money" property="distributMoney" />
        <result column="frozen_money" property="frozenMoney" />
        <result column="underling_number" property="underlingNumber" />
        <result column="pay_points" property="payPoints" />
        <result column="address_id" property="addressId" />
        <result column="remark" property="remark" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="create_at" property="createAt" />
        <result column="status_time" property="statusTime" />
    </resultMap>

</mapper>
