<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.app.common.persistence.dao.StoreGoodsCollectMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.yixiang.app.common.persistence.model.StoreGoodsCollect">
        <id column="collect_id" property="collectId" />
        <result column="user_id" property="userId" />
        <result column="goods_id" property="goodsId" />
        <result column="add_time" property="addTime" />
    </resultMap>

</mapper>
