<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.yixiang.app.common.persistence.dao.StoreAdsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="co.yixiang.app.common.persistence.model.StoreAds">
        <id column="id" property="id" />
        <result column="video_url" property="videoUrl" />
        <result column="url" property="url" />
        <result column="type" property="type" />
        <result column="sort" property="sort" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
