<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.modular.distribution.mapper.StoreSubstituteMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, username, phone, city_info, address, product_info, create_time, updated_at
    </sql>

    <select id="getStoreSubstituteById" resultType="com.ruoyi.app.distribution.web.vo.StoreSubstituteQueryVo">
        select <include refid="Base_Column_List"/> from store_substitute where id = #{id}
    </select>

    <select id="getStoreSubstitutePageList" resultType="com.ruoyi.app.distribution.web.vo.StoreSubstituteQueryVo">
        select <include refid="Base_Column_List"/> from store_substitute
    </select>

</mapper>
