@font-face {
  font-family: "iconfont"; /* Project id 4205200 */
  src: url('~@/static/iconfont/iconfont.woff2?t=1691643169117') format('woff2'),
       url('~@/static/iconfont/iconfont.woff?t=1691643169117') format('woff'),
       url('~@/static/iconfont/iconfont.ttf?t=1691643169117') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-waimai-:before {
  content: "\e607";
}

.icon-tangshi:before {
  content: "\e645";
}

