<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.common.persistence.dao.StoreSpecGoodsPriceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.app.common.persistence.model.StoreSpecGoodsPrice">
        <id column="item_id" property="itemId" />
        <result column="goods_id" property="goodsId" />
        <result column="key" property="key" />
        <result column="key_name" property="keyName" />
        <result column="price" property="price" />
        <result column="market_price" property="marketPrice" />
        <result column="store_count" property="storeCount" />
        <result column="bar_code" property="barCode" />
        <result column="sku" property="sku" />
        <result column="spec_img" property="specImg" />
        <result column="prom_id" property="promId" />
        <result column="prom_type" property="promType" />
    </resultMap>

</mapper>
