<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.common.persistence.dao.StoreOrderGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.app.common.persistence.model.StoreOrderGoods">
        <id column="rec_id" property="recId" />
        <result column="order_id" property="orderId" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_sn" property="goodsSn" />
        <result column="goods_num" property="goodsNum" />
        <result column="market_price" property="marketPrice" />
        <result column="goods_price" property="goodsPrice" />
        <result column="cost_price" property="costPrice" />
        <result column="member_goods_price" property="memberGoodsPrice" />
        <result column="give_integral" property="giveIntegral" />
        <result column="spec_key" property="specKey" />
        <result column="spec_key_name" property="specKeyName" />
        <result column="bar_code" property="barCode" />
        <result column="is_comment" property="isComment" />
        <result column="prom_type" property="promType" />
        <result column="prom_id" property="promId" />
        <result column="is_send" property="isSend" />
        <result column="delivery_id" property="deliveryId" />
        <result column="sku" property="sku" />
    </resultMap>

</mapper>
