<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.common.persistence.dao.StoreSpecMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.app.common.persistence.model.StoreSpec">
        <id column="id" property="id" />
        <result column="type_id" property="typeId" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="search_index" property="searchIndex" />
    </resultMap>

</mapper>
