<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.common.persistence.dao.StorePointsMoneyLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ruoyi.app.common.persistence.model.StorePointsMoneyLog">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="points_number" property="pointsNumber" />
        <result column="money_number" property="moneyNumber" />
        <result column="type" property="type" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
